
<header>
  <div class="logo">Tripzy</div>
  <nav>
    <ul>
        <li><a href="/about">Home</a></li>
        <li><a href="/packages">Packages</a></li>
        <li><a href="/customize">Customize</a></li>
        <li><a href="/contact">Contact</a></li>
        <li class="dropdown" tabindex="0">
        <label for="dropdown-toggle" class="dropbtn"><i class="fas fa-user"></i> Profile</label>
        <input type="checkbox" id="dropdown-toggle">
        <div class="dropdown-content">
            <a href="#" >About Us</a>
            <a href="#" >Traveller Stories</a>
            <a href="#">Share your experience</a>
            <a href="#">Help center</a>
</div>
</li>
    </ul>
</nav>
</header>
